---
import Layout from "../layouts/Default.astro";
import MeetingCTA from "../components/MeetingCTA.astro";
import { Image } from "astro:assets";
import studioDash from "../images/studio-hero.png";
import ChevronRight from "../components/icons/ChevronRight.astro";
import XIcon from "../components/icons/X.astro";
---

<script>
  const dialog = document.querySelector("dialog");

  const showToast = (text: string) => {
    const toast = document.getElementById("infoToast");
    if (!toast) {
      return;
    }
    toast.classList.add("flex");
    toast.classList.remove("hidden");
    toast.innerHTML = text;

    setTimeout(() => {
      toast?.classList.add("hidden");
      toast?.classList.remove("flex");
    }, 4000);
  };

  const button = document.getElementById("CTAButton");
  button?.addEventListener("click", () => {
    dialog?.showModal();
  });

  const closeButton = document.getElementById("closeModalBtn");
  closeButton?.addEventListener("click", () => {
    dialog?.close();
  });

  const submitFormBtn = document.getElementById("formSubmit");

  submitFormBtn?.addEventListener("click", async (e) => {
    e.preventDefault();
    // @ts-expect-error we know the div is there
    const email = document.querySelector("input[name=email]")?.value;
    // @ts-expect-error we know the div is there
    const name = document.querySelector("input[name=name]")?.value;
    const response = await fetch("https://studio.axflow.dev/waitlist/join", {
      method: "POST",
      body: JSON.stringify({ email, name }),
      headers: {
        "Content-Type": "application/json",
      },
    });
    response.json().then((data) => {
      if (data.error && data.error.message.includes("duplicate key")) {
        showToast("You're already on the waitlist!");
      } else {
        showToast("You're on the waitlist!");
      }
    });
    dialog?.close();
  });
</script>

<Layout title="Axflow">
  <main class="relative z-10 mx-auto flex flex-col justify-center px-8 lg:p-0">
    <MeetingCTA />
    <p
      id="infoToast"
      class="absolute right-4 top-4 bg-surface border border-surface text-color rounded-xl px-4 py-2 h-16 hidden items-center justify-start"
    >
      This is an info
    </p>
    <dialog
      class="transition-all allow-discrete duration-700 backdrop:backdrop-blur backdrop:bg-black backdrop:bg-opacity-50 bg-surface max-w-lg gap-4 border border-surface-50 bg-surface-50 p-6 shadow-lg duration-200 [state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-2xl w-[90%] md:w-full"
    >
      <div
        class="flex flex-col items-center justify-center gap-x-12 gap-y-10 md:flex-row"
      >
        <div class="p-6 rounded-lg relative">
          <button
            id="closeModalBtn"
            class="absolute top-1 h-10 w-10 right-1 text-lg text-white rounded-full flex items-center justify-center bg-button border border-button"
          >
            <XIcon />
          </button>
          <div class="text-3xl pb-2 text-color">
            Join the{" "}
            <span class="text-color-primary font-mono italic tracking-tighter"
              >waitlist</span
            >
          </div>

          <p class="text-color-700 pb-4">
            The line gets longer by the second. We&apos;ll send you an invite
            when it&apos;s your turn!
          </p>
          <form method="dialog" class="space-y-2">
            <div class="relative w-full">
              <input
                name="name"
                autofocus
                type="text"
                placeholder="Full name"
                class="text-color flex h-10 w-full rounded-lg border border-input bg-surface-50 px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-color-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              />
              <div
                class="absolute text-xs font-medium text-color-400 font-mono italic right-4 top-1/2 -translate-y-1/2 pointer-events-none"
              >
                optional
              </div>
            </div>

            <div class="relative w-full">
              <input
                name="email"
                autofocus
                type="text"
                placeholder="Email"
                class="flex h-10 w-full text-color rounded-lg border border-input bg-surface-50 px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-color-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              />
            </div>
            <button
              id="formSubmit"
              value="default"
              class="text-color flex justify-center items-center gap-x-2 border rounded-lg bg-button border-button py-2 pl-3 pr-4 transition-all duration-200 ease-in-out hover:-translate-y-[1px] hover:shadow-lg w-full"
              >Let me in!</button
            >
          </form>
        </div>
      </div>
    </dialog>

    <div class="flex shrink grow flex-col items-center justify-center">
      {/* start: hero-copy */}
      <h1
        class="via-zinc-20 bg-gradient-to-tr dark:from-white dark:to-zinc-200 from-zinc-800 to-zinc-600 bg-clip-text pb-6 pt-10 text-center text-4xl font-medium text-transparent opacity-90 bg-blend-screen drop-shadow sm:text-6xl md:pb-10 md:pt-32 lg:text-7xl"
      >
        Give your product team AI
        <span
          class="text-clip bg-gradient-to-tr dark:from-violet-500 dark:to-teal-200 from-violet-600 to-teal-400 bg-clip-text font-mono italic tracking-tighter"
        >
          superpowers
        </span>
      </h1>
      <p
        class="text-md max-w-2xl pb-10 text-color text-center opacity-80 bg-blend-screen sm:text-lg"
      >
        Build and improve AI features with confidence.
        <br />Replay production sessions, run experiments and evaluate your
        changes.
      </p>
      {/* end: hero-copy */}

      {/* start: hero-cta */}
      <div
        class="flex flex-col items-center justify-center gap-x-12 gap-y-10 md:flex-row"
      >
        <div
          id="CTAButton"
          class="text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 cursor-pointer text-color flex justify-center items-center border rounded-lg bg-button border-button py-2 pl-3 pr-2 transition-all duration-200 ease-in-out hover:-translate-y-[1px] hover:shadow-lg"
        >
          Join the Waitlist
          <ChevronRight className="h-5 w-5 ml-2" />
        </div>
      </div>

      {/* end: hero-cta */}
      <div
        class="mt-10 overflow-hidden bg-surface rounded-lg md:rounded-2xl border border-surface shadow-lg"
      >
        <Image
          src={studioDash}
          alt="Screenshot of the Studio being used to iterate on a production AI conversation"
          width={1044}
          height={650}
        />
      </div>
    </div>

    <footer class="shrink-0 grow-0 pb-6 pt-10">
      <div
        class="my-1 text-center font-mono text-xs leading-5 text-color-400 md:text-sm lg:my-4"
      >
        <div class="flex flex-col items-center">
          <p>&copy; 2023 Axilla, Inc. All rights reserved.</p>
          <a class="underline" href="/privacy-policy">Privacy policy</a>
        </div>
      </div>
    </footer>
  </main>
</Layout>
