---
import Layout from "../layouts/Default.astro";
import ChevronRight from "../components/icons/ChevronRight.astro";
---

<script>
  const dialog = document.querySelector("dialog");

  const button = document.getElementById("CTAButton");
  button?.addEventListener("click", () => {
    dialog?.showModal();
  });
</script>

<Layout title="Axflow">
  <main
    class="mx-auto flex flex-col justify-center h-full px-2 sm:px-8 lg:p-0 max-w-[1045px] z-0"
  >
    <div class="relative flex flex-col items-center">
      {/* start: hero-copy */}
      <h1
        class="via-zinc-200 bg-gradient-to-tr dark:from-white dark:to-zinc-400 from-zinc-800 to-zinc-600 bg-clip-text pb-6 md:pb-10 text-center text-4xl font-medium text-transparent opacity-90 bg-blend-screen drop-shadow sm:text-6xl lg:text-7xl"
      >
        Amplify your impact.
        <br />
        <span
          class="text-clip bg-gradient-to-tr dark:from-violet-500 dark:to-teal-200 from-violet-600 to-teal-400 bg-clip-text font-mono italic tracking-tighter"
        >
          Scale yourself
        </span>
      </h1>
        <div
          class="bg-gradient-to-br from-teal-200 to-purple-600 p-[1px] rounded-lg my-6 transition-all duration-200 ease-in-out hover:-translate-y-[1px] hover:shadow-lg cursor-pointer focus-visible:outline-none"
        >
          <div
            id="CTAButton"
            class="text-base text-color flex justify-center items-center rounded-lg bg-zinc-800 py-2.5 pl-4 pr-3"
          >
            Book a demo
            <ChevronRight className="h-5 w-5 ml-2" />
          </div>
        </div>
      {/* end: hero-copy */}

      {/* Footer */}
      <section class="w-full flex flex-col items-center">
        <footer class="shrink-0 grow-0 pb-6 pt-24">
          <div
            class="my-1 text-center font-mono text-xs leading-5 text-color-400 md:text-sm lg:my-4"
          >
            <div class="flex flex-col items-center">
              <p>&copy; 2024 Axilla, Inc. All rights reserved.</p>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </main>
</Layout>
