---
import Layout from "../layouts/Default.astro";
import MeetingCTA from "../components/MeetingCTA.astro";
---

<Layout title="Open-source | Axflow">
  <main
    class="relative mx-auto flex h-[calc(100vh-48px)] max-w-3xl flex-col justify-center px-8 lg:p-0"
  >
    <MeetingCTA />

    <div class="flex shrink grow flex-col items-center justify-center">
      <a href="https://www.npmjs.com/package/@axflow/models">
        <div
          class="flex min-h-8 items-center gap-x-2 rounded-full bg-zinc-700/50 py-0.5 px-2 text-[0.875rem] text-white backdrop-blur-md transition-all duration-200 ease-in-out hover:-translate-y-1 hover:border-zinc-600 hover:bg-zinc-700/80"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4 text-teal-200"
          >
            <path d="M18 12.5V10a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v1.4"></path>
            <path d="M14 11V9a2 2 0 1 0-4 0v2"></path>
            <path d="M10 10.5V5a2 2 0 1 0-4 0v9"></path>
            <path
              d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5"
            ></path>
          </svg>
           v0.0.25 is out
          <div
            class="flex h-6 items-center rounded-full bg-zinc-600 px-2 font-mono text-xs"
          >
            @axflow/models
          </div>
        </div>
      </a>

      <h1
        class="bg-gradient-to-br from-white via-zinc-50 to-zinc-500 bg-clip-text pb-6 pt-10 text-center text-4xl font-medium text-transparent opacity-90 bg-blend-screen drop-shadow sm:text-6xl md:pb-10 md:pt-12 lg:text-7xl"
      >
        The TypeScript framework for AI development
      </h1>

      <p
        class="text-md max-w-md pb-10 text-center text-white opacity-70 bg-blend-screen sm:text-lg"
      >
        Next generation AI tooling with full type safety and easy to use
        modeling tools.
      </p>

      <div
        class="flex flex-col items-center justify-center gap-x-12 gap-y-10 md:flex-row"
      >
        <a href="https://docs.axflow.dev/guides/models/getting-started.html">
          <div
            class="group flex items-center gap-x-2 rounded-lg bg-teal-200 py-2 pl-5 pr-4 font-medium text-zinc-900 transition-all"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 text-zinc-900"
              ><path
                d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"
              ></path></svg
            >
             Get started
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 transition-all duration-200 ease-in-out group-hover:translate-x-[2px]"
              ><path d="m9 18 6-6-6-6"></path></svg
            >
          </div>
        </a>

        <a href="https://github.com/axflow/axflow">
          <div class="group flex items-center gap-x-2 font-medium">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="rgb(250, 204, 21)"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="text-yell h-4 w-4 text-yellow-400"
            >
              <polygon
                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
              ></polygon>
            </svg>

            <div class="text-white">Star us on GitHub</div>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 items-center text-zinc-50 transition-all duration-200 ease-in-out group-hover:translate-x-[2px]"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <footer class="shrink-0 grow-0 pb-6">
      <p
        class="my-1 text-center font-mono text-xs leading-5 text-zinc-500 md:text-sm lg:my-4"
      >
        © 2024 Axilla, Inc. All rights reserved.
      </p>
    </footer>
  </main>
  <video
    src="/flow-video.mp4"
    class="absolute left-0 top-0 h-full w-full object-cover -z-10"
    autoplay=""
    muted=""
    loop=""></video>
</Layout>
