---
import Layout from "../layouts/Default.astro";
---

<Layout title="Privacy Policy | Axflow">
  <div class="mx-auto max-w-3xl text-base leading-7">
    <h1 class="text-extrabold text-4xl mt-4 mb-6">Privacy Policy</h1>
    <p class="font-italic text-sm opacity-80">
      Last Updated: November 11, 2023
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">1. Introduction</h2>
    <p class="pb-6">
      Welcome to Axflow Studio. We are committed to respecting the privacy of
      our users. This Privacy Policy explains how we collect, use, disclose, and
      safeguard your information when you visit our website at
      https://studio.axflow.dev.
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">
      2. Collection of your information
    </h2>
    <p class="pb-6">
      We may collect information about you in a variety of ways. The information
      we may collect on the website includes: Personal Data: Personally
      identifiable information, such as your email address, that you voluntarily
      give to us when you choose to participate in various activities related to
      the website.
    </p>

    <h2 class="text-2xl pb-2 pt-4 font-bold">3. Use of your information</h2>
    <p class="pb-6">
      Having accurate information about you permits us to provide you with a
      smooth, efficient, and customized experience. Specifically, we may use
      information collected about you via the website to: Create and manage your
      account. Email you regarding your account or updates to our website.
      Increase the efficiency and operation of the website. Perform other
      business activities as needed.{" "}
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">
      4. Disclosure of your information
    </h2>
    <p class="pb-6">
      We may share information we have collected about you in certain
      situations. Your information may be disclosed as follows: By Law or to
      Protect Rights: If we believe the release of information about you is
      necessary to respond to legal process, to investigate or remedy potential
      violations of our policies, or to protect the rights, property, and safety
      of others, we may share your information as permitted or required by any
      applicable law, rule, or regulation.{" "}
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">
      5. Security of your information
    </h2>
    <p class="pb-6">
      We use administrative, technical, and physical security measures to help
      protect your personal information. While we have taken reasonable steps to
      secure the personal information you provide to us, please be aware that
      despite our efforts, no security measures are perfect or impenetrable, and
      no method of data transmission can be guaranteed against any interception
      or other type of misuse.{" "}
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">
      6. Options regarding your information
    </h2>
    <p class="pb-6">
      You may at any time review or change the information in your account or
      terminate your account by contacting us using the contact information
      provided.{" "}
    </p>
    <h2 class="text-2xl pb-2 pt-4 font-bold">7. Contact</h2>
    <p class="pb-6">
      If you have questions or comments about this Privacy Policy, please
      contact us at privacy@axflow.dev.
    </p>
  </div>
</Layout>
