---
import ChevronDown from "./icons/ChevronDown.astro";
import ChevronRight from "./icons/ChevronRight.astro";
---

<header class="flex w-full justify-center px-2 pt-2">
  <div
    class="flex h-12 w-full items-center justify-between rounded-full border border-surface px-2 backdrop-blur-lg bg-surface container"
  >
    <nav
      class="flex w-full items-center justify-between pl-2"
      aria-label="Global"
    >
      <div class="flex items-center text-color-600 text-sm gap-2 sm:gap-6">
        <a href="/" class="p-1.5">
          <span class="sr-only">Axflow</span>
          <img
            src="/logo-white-text-multicolored.png"
            alt="Axflow logo"
            width={88}
            height={16}
          />
        </a>
        <div class="hidden sm:flex items-center gap-2">
          <div
            class="flex items-center hover:cursor-pointer gap-1 hover:text-color rounded-full px-3 py-1 hover:bg-surface-100"
          >
            <p>Products</p>
            <ChevronDown className="w-4 h-4" />
          </div>
          <div
            class="flex items-center hover:cursor-pointer gap-1 hover:text-color rounded-full px-3 py-1 hover:bg-surface-100"
          >
            <p>Company</p>
            <ChevronDown className="w-4 h-4" />
          </div>
          <a
            class="hover:text-color rounded-full px-3 py-1 hover:bg-surface-100"
            href="https://studio.axflow.dev/docs"
          >
            Docs
          </a>
          <a
            class="hover:text-color rounded-full px-3 py-1 hover:bg-surface-100"
            href="/blog"
          >
            Blog
          </a>
        </div>
      </div>

      <div class="sm:hidden">
        <a
          class="hover:text-color rounded-full px-3 py-1 hover:bg-surface-100 text-color-600 text-sm"
          href="/blog"
        >
          Blog
        </a>
      </div>

      <div
        class="hidden sm:flex flex-1 justify-end gap-3 sm:gap-6 items-center"
      >
        <div class="flex items-center gap-2">
          <div
            class="flex items-center hover:cursor-pointer gap-1 hover:text-color border border-surface rounded-full px-3 py-1 hover:bg-surface-100"
          >
            <p>Join the waitlist</p>
            <ChevronRight className="w-4 h-4" />
          </div>
          <div
            class="flex items-center hover:cursor-pointer gap-1 hover:text-color rounded-full px-3 py-1 bg-surface-100 hover:bg-surface-200"
          >
            <p>Sign in</p>
            <ChevronRight className="w-4 h-4" />
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
