---
import "@fontsource-variable/inter";
import "../styles/global.css";
import { getAuthors } from "../authors";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const authors = getAuthors(["nicholas", "ben"]);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title || "Axflow"}</title>
    <meta
      name="description"
      content="The TypeScript framework for AI development"
    />
    <meta
      name="keywords"
      content="LLM,AI,framework,TypeScript,React,JavaScript,axflow,nextjs"
    />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="any" />

    {
      authors.map((author) => (
        <>
          <meta name="author" content={author.name} />
          <link rel="author" href={author.website} />
        </>
      ))
    }

    <meta property="og:title" content="Axflow" />
    <meta
      property="og:description"
      content="The TypeScript framework for AI development"
    />
    <meta property="og:url" content="https://axflow.dev" />
    <meta property="og:site_name" content="Axflow" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://axflow.dev/OG.png" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@axflow_dev" />
    <meta name="twitter:title" content="Axflow" />
    <meta
      name="twitter:description"
      content="The TypeScript framework for AI development"
    />
    <meta name="twitter:image" content="https://axflow.dev/OG.png" />

    <script
      defer
      data-domain="axflow.dev"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="relative bg-zinc-1000">
    <div
      class="bg-dot-grid absolute left-0 top-0 h-full w-full bg-fixed opacity-80"
    >
    </div>
    <Header />
    <slot class="z-10" />
  </body>
</html>
